body { 
    padding-top: 70px; 
    background-color: lavender;
}

#profilePhoto {
    border-radius: 10px;
}

div#fullName {
    background-color: #EEEEEE;
    margin: 10px -10px;
    padding: 5px;
    font-weight: bold;
}

#pbs tr td {
    padding: 1px 5px;
}

#backbone_page {
    display: none;
}

#chart_div {
    height: 200px;
}